<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <span>IOT Connector</span>
    </div>
    <div fxHide.lt-sm>
      <button mat-button routerLink="/welcome/register">Register</button>
      <button mat-button routerLink="/welcome/login">Login</button>
      <button mat-button routerLink="/logout">Logout</button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxHide.gt-xs fxLayoutAlign="space-evenly center">
    <button mat-button routerLink="/welcome/register">Register</button>
    <button mat-button routerLink="/welcome/login">Login</button>
    <button mat-button routerLink="/logout">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
