<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="registerCard">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-card-content>
        <mat-step
          [stepControl]="generalGroup"
          label="General Details"
          state="general"
          [editable]="isEditable"
        >
          <form [formGroup]="generalGroup">
            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="10px"
              fxLayoutGap.lt-sm="30px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-card class="profilePic" fxFlex="30">
                <img src="" alt="Profile Pic" srcset="" />
              </mat-card>
              <div
                fxLayout="column"
                fxFlex="55"
                fxLayoutAlign="space-around center"
              >
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input
                    matInput
                    name="firstName"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                  <mat-error
                    *ngIf="
                      generalGroup.controls['firstName'].hasError('required')
                    "
                  >
                    First Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    name="lastName"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                  <mat-error
                    *ngIf="
                      generalGroup.controls['lastName'].hasError('required')
                    "
                  >
                    Last Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input
                    formControlName="email"
                    matInput
                    placeholder="Enter an email address"
                    required
                  />
                  <mat-error
                    *ngIf="generalGroup.controls['email'].hasError('required')"
                  >
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              style="margin-top: 15px"
              fxLayoutGap="35px"
              fxLayoutGap.lt-sm="10px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-form-field>
                <mat-label>Mobile Number</mat-label>
                <input
                  matInput
                  placeholder="Enter a Mobilr Number"
                  formControlName="mobileNumber"
                />
                <mat-error
                  *ngIf="
                    generalGroup.controls['mobileNumber'].hasError('required')
                  "
                >
                  Mobile Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Enter a Pasword"
                  formControlName="password"
                />
                <mat-error
                  *ngIf="generalGroup.controls['password'].hasError('required')"
                >
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="35px"
              fxLayoutGap.lt-sm="10px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-form-field>
                <mat-label>Choose your DOB</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="dob"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="generalGroup.controls['dob'].hasError('required')"
                >
                  DOB is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Choose your Gender</mat-label>
                <mat-select
                  matInput
                  placeholder="Choose your Gender"
                  formControlName="gender"
                >
                  <mat-option value="Male"> Male </mat-option>
                  <mat-option value="Female"> Female </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="generalGroup.controls['gender'].hasError('required')"
                >
                  Gender is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="actionButtionDiv" fxLayoutAlign="end">
              <button
                mat-flat-button
                color="primary"
                (click)="onNext()"
                matStepperNext
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step
          [stepControl]="addressGroup"
          label="Address Details"
          state="address"
          [editable]="isEditable"
        >
          <form [formGroup]="addressGroup">
            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="35px"
              fxLayoutGap.lt-sm="30px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-form-field>
                <mat-label>Enter Address Line 1</mat-label>
                <input
                  matInput
                  placeholder="Address Line 1"
                  formControlName="addressLine1"
                />
                <mat-error
                  *ngIf="
                    addressGroup.controls['addressLine1'].hasError('required')
                  "
                >
                  Address Line 1 is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Enter Address Line 2</mat-label>
                <input
                  matInput
                  placeholder="Address Line 2"
                  formControlName="addressLine2"
                />
              </mat-form-field>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="35px"
              fxLayoutGap.lt-sm="10px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-form-field>
                <mat-label>Enter your Postal Code</mat-label>
                <input
                  matInput
                  placeholder="Enter your Postal Code"
                  formControlName="postalCode"
                />
                <mat-error
                  *ngIf="
                    addressGroup.controls['postalCode'].hasError('required')
                  "
                >
                  Postal Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Choose your State</mat-label>
                <input
                  matInput
                  placeholder="Choose your State"
                  formControlName="state"
                />
                <mat-error
                  *ngIf="addressGroup.controls['state'].hasError('required')"
                >
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="35px"
              fxLayoutGap.lt-sm="10px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-form-field>
                <mat-label>Choose Your City</mat-label>
                <input
                  matInput
                  placeholder="Choose your City"
                  formControlName="city"
                />
                <mat-error
                  *ngIf="addressGroup.controls['city'].hasError('required')"
                >
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Enter your Country</mat-label>
                <input
                  matInput
                  placeholder="Country"
                  formControlName="country"
                />
                <mat-error
                  *ngIf="addressGroup.controls['country'].hasError('required')"
                >
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="actionButtionDiv" fxLayoutAlign="end">
              <button mat-flat-button color="accent" matStepperPrevious>
                Back
              </button>
              <button mat-flat-button color="primary" matStepperNext>
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step
          [stepControl]="accessGroup"
          label="Access Roles"
          [editable]="isEditable"
          state="role"
        >
          <form [formGroup]="accessGroup">
            <div
              fxLayout="row"
              fxLayoutAlign="space-around center"
              fxLayoutGap="35px"
              fxLayoutGap.lt-sm="30px"
              fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="space-around streach"
            >
              <mat-form-field>
                <mat-label>Enter Access Level</mat-label>
                <input
                  matInput
                  placeholder="Access Level"
                  formControlName="accessLevel"
                />
                <mat-error
                  *ngIf="
                    accessGroup.controls['accessLevel'].hasError('required')
                  "
                >
                  Access Level is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Role</mat-label>
                <input matInput placeholder="Role" formControlName="role" />
                <mat-error
                  *ngIf="accessGroup.controls['role'].hasError('required')"
                >
                  Access Level is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="actionButtionDiv" fxLayoutAlign="end">
              <button mat-flat-button color="accent" matStepperPrevious>
                Back
              </button>
              <button
                type="submit"
                mat-flat-button
                color="primary"
                matStepperNext
                (click)="onSubmit()"
              >
                Submit
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div class="actionButtionDiv" fxLayoutAlign="end">
            <button
              mat-raised-button
              (click)="login()"
              type="submit"
              color="primary"
            >
              Login
            </button>
          </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="general">
          <mat-icon>perm_identity</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="address">
          <mat-icon>contact_mail</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="role">
          <mat-icon>manage_accounts</mat-icon>
        </ng-template>
      </mat-card-content>
    </mat-horizontal-stepper>
  </mat-card>
</div>
