
.registerCard {
  width: 70vw;
}

.profilePic {
  min-height: 30vh;
  /* margin-top: 5px; */
}

form {
  margin-top: 5%;
}

mat-form-field {
  width: 100%;
  margin-top: 2%;
}

.actionButtionDiv {
  margin-top: 2%;
}

.actionButtionDiv > :first-child {
  margin-right: 2%;
}
