<div fxLayoutAlign="center center">
  <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
    <mat-card class="loginCard">
      <mat-card-header>
        <mat-card-title>Login to your Account</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter email address"
            required
          />
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>
              {{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" class="loginBtn">Login</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
